.pagination{
    display: flex;
    align-items: center;
    gap: 1.5rem;
    margin:auto 50%;
}
.pagination button{
    padding: 0.5rem;
    border: none;
    background-color: lightgrey;
    font-weight: 600;
    color: var(--Accent);
    cursor: pointer;
    border-radius: 50%;
}
button.activepage{
    background-color:var(--Accent);
    color: white;
}