.header-content{
  background: linear-gradient(135deg, #2c3e50, #3498db);
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px;
}

.TenantDashboardcontent {
  background: white;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0,0,0,0.05);
  padding: 1.5rem;
}
.dashboard-sideba{
    border: 3px solid yellow;
}
.dashboard-sidebar{
    border: 3px solid red;
}
.sidebar-nav{
    width: 100px;
    height: 400px;
    text-align: right;
    border: 3px solid green;
    z-index: 1;
    top: 70px;
    position: static;
    right: 30px;
}
.sidebar-nav ul{
  width: 100%;
  display: flex;
}
.tenantsProfile{
  display: none;
}
.propertyimage{
  height: 400px;
  position: relative;
}
.propertyimage img{
   object-fit: cover;
   width: 100%;
   height: 100%;
}
.btn-favorite{
  position: absolute;
  top: 10px;
  right: 10px;
  
}
@media (max-width: 600px) {
  .Tenantdashboardsidebar{
  background: white;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0,0,0,0.05);
  padding: 1.5rem;
  flex-direction: row-reverse;
  }
.sidebarhelp{
  font-size: 0.4rem;
}
.sidebarhelp h3{
  font-size: 1rem;
}
.sidebarhelp .btn-help{
  background-color: #3498db;
  border: none;
  padding: 0.5rem;
  margin-top: 0.4rem;
  color: white;
  cursor: pointer;
}
.notificationsheader{
  font-size: 1.7rem;
}
}