.userprofile {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.avatar {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  object-fit: cover;
   cursor: pointer;
  box-shadow: 0 0 10px white;
}
.userprofilename{
  color:white;
  text-decoration: none;
}